		<div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Bienvenue sur le site du jeu des petits geeks</h1>
                        <p>Le but du jeu est simple : être le premier à arriver pour gagner !</p>
                        <p>Le plateau du jeu représente l'IMIE Rennes, une école de la filière numérique.<br/>
                        Il y a quatre classes, chacune représentée par une couleur, les IT START, 
                        les CDPN, les RISR et les CHEFS DE PROJETS NUMERIQUES.<br/>
                        Dans chaque classe un élève, dit petit geek, essaye de s'échapper de l'école plus tôt.
                        Le premier à arriver au bureau de Célia obtiendra une permission exceptionnelle pour quitter
                        l'école à 15h au lieu de 17h ! 
                        </p>
                        <p>Mais comment faire pour gagner ?<br/>
                        Tout d'abord, pour être autoriser à sortir de la classe il faut faire un 6.<br/>
                        Ensuite il faut faire un tour complet du plateau.<br/>
                        Pour finir, il faut faire le nombre indiquer sur la case pour avancer vers le bureau de Célia.<br/>
                        Encore un dernier 6 à faire et c'est gagné !
                    </div>
                </div>
            </div>
        </div>
